<div class="container-fluid">
  <div class="vertical-space"></div>
  <div class="row justify-content-center">
    <div class="col">
      <nav class="navbar navbar-expand home-nav">
        <div class="container-fluid">
          <div class="navbar-nav">
            <a
              routerLink=""
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              {{ locale['overview'] }}
            </a>
            <a
              routerLink="/competencies"
              class="nav-link"
              routerLinkActive="active"
            >
              {{ locale['skills'] }}
            </a>
            <a
              routerLink="/experience"
              class="nav-link"
              routerLinkActive="active"
            >
              {{ locale['experience'] }}
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
