<div class="row vertical-space"></div>
<div class="row">
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-11 topic">{{ locale['backend'] }}</div>
    </div>

    <div class="row justify-content-center">
      <div class="col-11 card">
        <div class="row justify-content-center">
          <div class="col-11 subtopic">{{ locale['languages'] }}</div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li>PHP : 4 {{ locale['years'] }}, 3/5</li>
              <li>NodeJS: 2 {{ locale['years'] }}, 4/5</li>
              <li>Typescript: 1 {{ locale['year'] }}, 4/5</li>
              <li>Java: 3 {{ locale['years'] }}, 3/5</li>
              <li>Python: 4 {{ locale['years'] }}, 3/5</li>
              <li>Golang: 1 {{ locale['year'] }}, 2.5/5</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row vertical-space"></div>

    <div class="row justify-content-center">
      <div class="col-11 card">
        <div class="row justify-content-center">
          <div class="col-11 subtopic">{{ locale['related'] }}</div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li>MySQL: 4 {{ locale['years'] }}, 4/5</li>
              <li>MongoDB: 2 {{ locale['years'] }}, 4/5</li>
              <li>JQuery: 4 {{ locale['years'] }}, 3/5</li>
              <li>AWS: 3 {{ locale['years'] }}, 3.5/5</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row vertical-space"></div>

    <div class="row justify-content-center">
      <div class="col-11 card">
        <div class="row justify-content-center">
          <div class="col-11 subtopic">{{ locale['misc'] }}</div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li>{{ locale['caching'] }} : Redis, Memcached</li>
              <li>{{ locale['search'] }} : Elastic Search, Solr</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row vertical-space"></div>

    <div class="row justify-content-center">
      <div class="col-11 topic">{{ locale['architecture'] }}</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11 card">
        <div class="row justify-content-center">
          <div class="col-11 subtopic">Frameworks / {{ locale['tools'] }}</div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li>CodeIgniter : PHP Framework</li>
              <li>Laravel : PHP Framework</li>
              <li>Nest.js : NodeJS/Typescript Framework</li>
              <li>Nx : {{ locale['nxdesc'] }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-11 topic">{{ locale['frontend'] }}</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11 card">
        <div class="row justify-content-center">
          <div class="col-11 subtopic">{{ locale['technologies'] }}</div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li>Angular : 1 {{ locale['year'] }}, 3/5</li>
              <li>Jquery</li>
              <li>Bootstrap</li>
              <li>CSS</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row vertical-space"></div>

    <div class="row justify-content-center">
      <div class="col-11 topic">{{ locale['scalable'] }}</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11 card">
        <div class="row justify-content-center">
          <div class="col-11 subtopic">Monitoring / {{ locale['tools'] }}</div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li><b>Kafka</b> : {{ locale['kafkadesc'] }}</li>
              <li><b>Logstash</b> : {{ locale['logstashdesc'] }}</li>
              <li><b>Kibana</b> : {{ locale['kibanadesc'] }}</li>
              <li><b>Datadog</b> : {{ locale['datadogdesc'] }}</li>
              <li><b>AWS CloudWatch</b> : AWS Logstore</li>
              <li><b>Jenkins</b> : {{ locale['jenkinsdesc'] }}</li>
              <li><b>CircleCI</b> : {{ locale['circlecidesc'] }}</li>
              <li><b>Github Actions</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
