<div class="row vertical-space"></div>
<div class="row">
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-11 topic">Backend Development</div>
    </div>

    <div class="row justify-content-center">
      <div class="col-11 card">
        <div class="row justify-content-center">
          <div class="col-11 subtopic">Programming Languages</div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li>PHP : 4 years, 3/5</li>
              <li>NodeJS: 2 years, 4/5</li>
              <li>Typescript: 1 year, 4/5</li>
              <li>Java: 3 years, 3/5</li>
              <li>Python: 4 years, 3/5</li>
              <li>Golang: 1 year, 2.5/5</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row vertical-space"></div>

    <div class="row justify-content-center">
      <div class="col-11 card">
        <div class="row justify-content-center">
          <div class="col-11 subtopic">Related Technologies</div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li>MySQL: 4 years, 4/5</li>
              <li>MongoDB: 2 years, 4/5</li>
              <li>JQuery: 4 years, 3/5</li>
              <li>AWS: 3 years, 3.5/5</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row vertical-space"></div>

    <div class="row justify-content-center">
      <div class="col-11 card">
        <div class="row justify-content-center">
          <div class="col-11 subtopic">Misc. Technologies</div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li>Caching : Redis, Memcached</li>
              <li>Search : Elastic Search, Solr</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row vertical-space"></div>

    <div class="row justify-content-center">
      <div class="col-11 topic">Architecture</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11 card">
        <div class="row justify-content-center">
          <div class="col-11 subtopic">Frameworks / Tools</div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li>CodeIgniter : PHP Framework</li>
              <li>Laravel : PHP Framework</li>
              <li>Nest.js : NodeJS/Typescript Framework</li>
              <li>Nx : Repository and Build Management Toolkit</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-11 topic">Frontend Development</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11 card">
        <div class="row justify-content-center">
          <div class="col-11 subtopic">Technologies</div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li>Angular : 1 year, 3/5</li>
              <li>Jquery</li>
              <li>Bootstrap</li>
              <li>CSS</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row vertical-space"></div>

    <div class="row justify-content-center">
      <div class="col-11 topic">Scalable Development</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11 card">
        <div class="row justify-content-center">
          <div class="col-11 subtopic">Monitoring / Tools</div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li><b>Kafka</b> : Collating log writes</li>
              <li><b>Logstash</b> : Processing incoming logs</li>
              <li><b>Kibana</b> : Visualization of logs</li>
              <li><b>Datadog</b> : Visualization of logs</li>
              <li><b>AWS CloudWatch</b> : AWS Logstore</li>
              <li><b>Jenkins</b> : CI/CD management tool</li>
              <li><b>CircleCI</b> : CI/CD management tool</li>
              <li><b>Github Actions</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
