<div class="row vertical-space"></div>
<div class="row">
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-11 topic">{{ locale['experience'] }}</div>
    </div>
    <div class="row">
      <div class="col scrollable">
        <div class="row justify-content-center experience-row">
          <div class="col-11 card">
            <div class="row justify-content-center">
              <div class="col-2 company-dates align-self-center">
                Aug 2023 - {{ locale['present'] }}
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-11">
                    <div class="row">
                      <div class="col company-title">
                        <span class="company-name">Immosolve GMBH,</span>
                        <span class="company-role">
                          {{ locale['sse'] }}
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <span class="work-desc">
                          {{ locale['immosolve_desc'] }}
                          <ul>
                            <li>
                              {{ locale['immosolve_1'] }}
                            </li>
                          </ul>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center experience-row">
          <div class="col-11 card">
            <div class="row justify-content-center">
              <div class="col-2 company-dates align-self-center">
                Nov 2019 - Apr 2021
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-11">
                    <div class="row">
                      <div class="col company-title">
                        <span class="company-name">Amazon,</span>
                        <span class="company-role">
                          {{ locale['sse'] }} ({{ locale['backend'] }})
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <span class="work-desc">
                          {{ locale['amazon_desc'] }}
                          <ul>
                            <li>
                              {{ locale['amazon_1'] }}
                            </li>
                            <li>{{ locale['amazon_2'] }}</li>
                          </ul>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center experience-row">
          <div class="col-11 card">
            <div class="row justify-content-center">
              <div class="col-2 company-dates align-self-center">
                Nov 2018 - Nov 2019
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-11">
                    <div class="row">
                      <div class="col company-title">
                        <span class="company-name">PayTM,</span>
                        <span class="company-role">
                          {{ locale['sse'] }} ({{ locale['backend'] }})
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <span class="work-desc">
                          {{ locale['paytm_desc'] }}
                          <ul>
                            <li>{{ locale['paytm_1'] }}</li>
                          </ul>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center experience-row">
          <div class="col-11 card">
            <div class="row justify-content-center">
              <div class="col-2 company-dates align-self-center">
                Apr 2017 - Mar 2018
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-11">
                    <div class="row">
                      <div class="col company-title">
                        <span class="company-name">Lava Mobiles,</span>
                        <span class="company-role">
                          {{ locale['sse'] }} ({{ locale['fullstack'] }})
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <span class="work-desc">
                          {{ locale['lava_desc'] }}
                          <ul>
                            <li>
                              {{ locale['lava_1'] }}
                            </li>
                            <li>
                              {{ locale['lava_2'] }}
                            </li>
                          </ul>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center experience-row">
          <div class="col-11 card">
            <div class="row justify-content-center">
              <div class="col-2 company-dates align-self-center">
                Apr 2014 - Apr 2017
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-11">
                    <div class="row">
                      <div class="col company-title">
                        <span class="company-name">InfoEdge,</span>
                        <span class="company-role">
                          {{ locale['sse'] }} ({{ locale['fullstack'] }})
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <span class="work-desc">
                          {{ locale['infoedge_desc'] }}
                          <ul>
                            <li>
                              {{ locale['infoedge_1'] }}
                            </li>
                            <li>
                              {{ locale['infoedge_2'] }}
                            </li>
                          </ul>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center experience-row">
          <div class="col-11 card">
            <div class="row justify-content-center">
              <div class="col-2 company-dates align-self-center">
                Oct 2013 - Mar 2014
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-11">
                    <div class="row">
                      <div class="col company-title">
                        <span class="company-name">Works Applications,</span>
                        <span class="company-role">
                          {{ locale['se'] }} ({{ locale['fullstack'] }})
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <span class="work-desc">
                          {{ locale['wa_desc'] }}
                          <ul>
                            <li>
                              {{ locale['wa_1'] }}
                            </li>
                            <li>
                              {{ locale['wa_2'] }}
                            </li>
                          </ul>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
