<div class="row vertical-space"></div>
<div class="row">
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-11 topic">Work Experience</div>
    </div>
    <div class="row">
      <div class="col scrollable">
        <div class="row justify-content-center experience-row">
          <div class="col-11 card">
            <div class="row justify-content-center">
              <div class="col-2 company-dates align-self-center">
                Aug 2023 - Present
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-11">
                    <div class="row">
                      <div class="col company-title">
                        <span class="company-name">Immowelt GMBH,</span>
                        <span class="company-role"> Software Engineer</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <span class="work-desc">
                          Working as a part of the development team with
                          Immosolve GMBH, on the new client portal for
                          real-estate agents and large-scale landlords.
                          <ul>
                            <li>
                              Using: AWS (API-Gateway, Lambda, DynamoDB,
                              Eventbus, SNS, SQS, Stepfunctions, Elasticsearch,
                              Cloudwatch, Cloudformation, etc.), Typescript,
                              NestJS, AngularJS, Nx.
                            </li>
                          </ul>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center experience-row">
          <div class="col-11 card">
            <div class="row justify-content-center">
              <div class="col-2 company-dates align-self-center">
                Nov 2019 - April 2021
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-11">
                    <div class="row">
                      <div class="col company-title">
                        <span class="company-name">Amazon,</span>
                        <span class="company-role">
                          Senior Software Engineer (Backend)
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <span class="work-desc">
                          Worked as an independent contributor and have worked
                          cross-team to build a unified solution for cross
                          border movement of
                          <ul>
                            <li>
                              Using: Java, AWS, API Gateway, S3, DynamoDB,
                              Lambda Functions, SNS, SQS, Cloudwatch, Cognito,
                              ElasticSearch and Step functions used for
                              deploying solutions.
                            </li>
                            <li>I have also worked with EC2 deployments.</li>
                          </ul>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center experience-row">
          <div class="col-11 card">
            <div class="row justify-content-center">
              <div class="col-2 company-dates align-self-center">
                Nov 2018 - Nov 2019
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-11">
                    <div class="row">
                      <div class="col company-title">
                        <span class="company-name">PayTM,</span>
                        <span class="company-role">
                          Senior Software Engineer (Backend)
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <span class="work-desc">
                          Led the backend development team, and managed the
                          development cycles. Have been awarded the Rockstar
                          award for performing over and above expected KRAs.
                          <ul>
                            <li>
                              Using: NodeJS with MongoDB, Redis, ElasticSearch,
                              Logstash, Kafka, Kibana. Deployed on EC2.
                            </li>
                          </ul>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center experience-row">
          <div class="col-11 card">
            <div class="row justify-content-center">
              <div class="col-2 company-dates align-self-center">
                Apr 2017 - Mar 2018
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-11">
                    <div class="row">
                      <div class="col company-title">
                        <span class="company-name">Lava Mobiles,</span>
                        <span class="company-role">
                          Senior Software Engineer (Full Stack)
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <span class="work-desc">
                          Worked as a full stack developer cum system architect.
                          The existing system had to be redesigned to stabilize
                          existing features and create a platform where new
                          features could be added.
                          <ul>
                            <li>
                              PHP using CakePHP and Laravel frameworks (multiple
                              projects), Memcache and Redis for caching,
                              PostgreSQL backend, and JS/JQuery for client side
                              scripts with basic HTML and CSS.
                            </li>
                            <li>
                              Server jobs (cron jobs) in Python for maintenance,
                              timed jobs and report generation.
                            </li>
                          </ul>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center experience-row">
          <div class="col-11 card">
            <div class="row justify-content-center">
              <div class="col-2 company-dates align-self-center">
                Apr 2014 - Apr 2017
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-11">
                    <div class="row">
                      <div class="col company-title">
                        <span class="company-name">InfoEdge,</span>
                        <span class="company-role">
                          Senior Software Engineer (Full Stack)
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <span class="work-desc">
                          Worked as full stack developer for Shiksha.com.
                          Awarded “Magic Maker” thrice for delivery of high
                          quality improvement of page performance metrics, and
                          high work ethic.
                          <ul>
                            <li>
                              Using: Full stack development using LAMP (Linux,
                              Apache, MySQL, PHP) stack, JQuery and JS, HTML and
                              CSS for website. Solr and Memcache for search.
                              CodeIgniter framework with HMVC structure.
                            </li>
                            <li>
                              Experience with Agile work environments and an
                              understanding of the Agile fundamentals.
                            </li>
                          </ul>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center experience-row">
          <div class="col-11 card">
            <div class="row justify-content-center">
              <div class="col-2 company-dates align-self-center">
                Oct 2013 - Mar 2014
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-11">
                    <div class="row">
                      <div class="col company-title">
                        <span class="company-name">Works Applications,</span>
                        <span class="company-role">
                          Software Engineer (Full Stack)
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <span class="work-desc">
                          Worked as a full stack developer for company websites.
                          <ul>
                            <li>
                              Using: JAVA, JSF frontend with Primefaces and an
                              SQL backend. Provided language support for
                              Japanese and Chinese alongside English.
                            </li>
                            <li>
                              Worked on multiple client-facing ERP portals.
                            </li>
                          </ul>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
