.sidebar {
  height: 100vh;
  background-color: rgb(55, 70, 80);
}

.vertical-space {
  height: 3vh;
}

.name {
  font-size: 3vh;
  color: white;
}

.topic {
  font-size: 2.5vh;
  color: white;
  display: block;
  margin-bottom: 1.5vh;
}

.u {
  border-bottom: 1px solid;
}

.socials div {
  margin-right: 1vw;
}

.topic-list {
  list-style-type: none;
}
.topic-list li {
  margin-bottom: 0.5vh;
}

.info {
  font-size: 1.8vh;
  color: silver;
  margin-bottom: 5px;
  display: block;
}
