<div class="sidebar">
  <div class="row vertical-space"></div>
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="row">
        <div class="col col-md-auto">
          <img src="../../../assets/profile.jpeg" class="img-thumbnail" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col name text-center">Rahul Bhatnagar</div>
  </div>
  <div class="row justify-content-center">
    <div class="col-11 text-center">
      <div class="info btn btn-outline-custom">
        <i class="bi bi-envelope-plus"></i> {{ locale['contact_me'] }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <div class="info"><i class="bi bi-at"></i> ralbhat&#64;gmail.com</div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <div class="info"><i class="bi bi-telephone"></i> +49 179 676 0847</div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <div class="info">
        <i class="bi bi-geo-alt"></i> {{ locale['location'] }}
      </div>
    </div>
  </div>
  <div class="row vertical-space"></div>
  <div class="row justify-content-center">
    <div class="col-10 topic u">
      <i class="bi bi-clipboard-check"></i> {{ locale['profile'] }}
    </div>
    <div class="row info">
      <div class="col-10">
        <ul class="topic-list">
          <li><i class="bi bi-briefcase"></i> {{ locale['job_title'] }}</li>
          <li><i class="bi bi-mortarboard"></i> {{ locale['education'] }}</li>
          <li><i class="bi bi-globe"></i> {{ locale['web_development'] }}</li>
          <li>
            <i class="bi bi-hdd-stack"></i> {{ locale['backend_development'] }}
          </li>
          <li><i class="bi bi-translate"></i> {{ locale['english'] }}</li>
          <li><i class="bi bi-translate"></i> {{ locale['german'] }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row vertical-space"></div>
  <div class="row socials justify-content-center">
    <div class="col-2 topic btn btn-outline-secondary" (click)="linkedin()">
      <i class="bi bi-linkedin"></i>
    </div>
    <div class="col-2 topic btn btn-outline-secondary" (click)="github()">
      <i class="bi bi-github"></i>
    </div>
    <div
      class="col-2 topic btn btn-outline-secondary"
      (click)="stackoverflow()"
    >
      <i class="bi bi-stack-overflow"></i>
    </div>
  </div>
  <div class="row vertical-space"></div>
  <div class="row socials justify-content-center">
    <div
      class="col-2 info btn btn-outline-secondary"
      (click)="switchLanguage('en')"
    >
      en
    </div>
    <div
      class="col-2 info btn btn-outline-secondary"
      (click)="switchLanguage('de')"
    >
      de
    </div>
  </div>
</div>
