<div class="row vertical-space"></div>
<div class="row">
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-11 topic">About Me</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11">
        <p>
          I have 9+ years of experience as a software developer, and am
          currently employed with Immosolve GmbH as a senior software engineer.
          I have worked with several different software stacks over multiple
          companies, and am a quick learner of new technologies. I am proficient
          at backend development, although I can also tackle front-end projects
          reliably.
        </p>
        <p>I am</p>
      </div>
    </div>
  </div>
</div>
<!--
  @TODO:
  - about me 
  - skills <a>
  - experience <a>
  - hobbies?
  - certifications
  - education
  - awards
  - 
-->
