.vertical-space {
  height: 2vh;
  display: block;
}

.topic {
  font-size: 3vh;
  font-weight: bold;
  color: rgb(5, 30, 50);
  border-bottom: 1px solid rgb(5, 30, 50);
}

.card {
  margin-right: 1vw;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.experience-list .col-5 {
  font-style: italic;
  color: gray;
}

.link {
  cursor: pointer;
}
