<div class="row vertical-space"></div>
<div class="row">
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-11 topic">About Me</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11">
        <p>
          I have 9+ years of experience as a software developer, and am
          currently employed with Immosolve GmbH as a senior software engineer.
          I have worked with several different software stacks over multiple
          companies, and am a quick learner of new technologies. I am proficient
          at backend development, although I can also tackle front-end projects
          reliably. I find challenging projects exciting, and perform well under
          pressure.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row vertical-space"></div>
<div class="row justify-content-center">
  <div class="col-11">
    <div class="row justify-content-center">
      <div class="col card link" routerLink="/skills">
        <div class="row justify-content-center card-body">
          <div class="col-10 topic card-title">Skills</div>
          <div class="col-10 card-text">
            <ul class="skill-list">
              <li>
                <div class="row">
                  <div class="col-8">Backend Development</div>
                  <div class="col-4">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-8">System Architecture</div>
                  <div class="col-4">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-8">Scalable Development</div>
                  <div class="col-4">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-8">Amazon Web Services (AWS)</div>
                  <div class="col-4">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-8">Frontend Development</div>
                  <div class="col-4">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-8">Webpage Design</div>
                  <div class="col-4">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col card link" routerLink="/experience">
        <div class="row justify-content-center card-body">
          <div class="col-10 topic card-title">Experience</div>
          <div class="col-10 card-text">
            <ul class="experience-list">
              <li>
                <div class="row">
                  <div class="col-4">Aug 2023 - Present</div>
                  <div class="col-8">Immosolve GmbH</div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-4">Nov 2019 - Apr 2021</div>
                  <div class="col-8">Amazon Ltd.</div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-4">Nov 2018 - Oct 2019</div>
                  <div class="col-8">PayTM</div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-4">Apr 2017 - Feb 2018</div>
                  <div class="col-8">Lava Mobiles</div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-4">Apr 2014 - Apr 2017</div>
                  <div class="col-8">InfoEdge</div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-4">Oct 2013 - Mar 2014</div>
                  <div class="col-8">Works Applications</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row vertical-space"></div>
<div class="row justify-content-center">
  <div class="col-11">
    <div class="row justify-content-center">
      <div class="col card">
        <div class="row justify-content-center card-body">
          <div class="col-10 topic card-title">Education</div>
          <div class="w-100"></div>
          <div class="col-10 card-text">
            <ul class="skill-list">
              <li>B.Tech. Computer Science - IIIT Delhi</li>
              <li>CBSE (India) - D.P.S. R.K.Puram</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col card">
        <div class="row justify-content-center card-body">
          <div class="col-10 topic card-title">Recent Certifications</div>
          <div class="w-100"></div>
          <div class="col-10 card-text">
            <ul class="experience-list">
              <li>Angular (Udemy)</li>
              <li>German Language Proficiency - B2</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row vertical-space"></div>
<div class="row justify-content-center">
  <div class="col-11">
    <div class="row justify-content-center">
      <div class="col card">
        <div class="row justify-content-center card-body">
          <div class="col-10 topic card-title">Awards</div>
          <div class="w-100"></div>
          <div class="col-10 card-text">
            <ul class="skill-list">
              <li>Rockstar Award - PayTM</li>
              <li>Magic Maker, Code Efficiency - InfoEdge</li>
              <li>Magic Maker, Work Ethic - InfoEdge</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col card">
        <div class="row justify-content-center card-body">
          <div class="col-10 topic card-title">Hobbies</div>
          <div class="w-100"></div>
          <div class="col-10 card-text">
            <ul class="experience-list">
              <li>Swimming</li>
              <li>Computer Gaming</li>
              <li>Dungeons and Dragons</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
