<div class="row vertical-space"></div>
<div class="row">
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-11 topic">{{ locale['about_me'] }}</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11">
        <p>{{ locale['summary'] }}</p>
      </div>
    </div>
  </div>
</div>
<div class="row vertical-space"></div>
<div class="row justify-content-center">
  <div class="col-11">
    <div class="row justify-content-center">
      <div class="col card link" routerLink="/competencies">
        <div class="row justify-content-center card-body">
          <div class="col-10 topic card-title">{{ locale['skills'] }}</div>
          <div class="col-10 card-text">
            <ul class="skill-list">
              <li>
                <div class="row">
                  <div class="col-8">{{ locale['backend'] }}</div>
                  <div class="col-4">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-8">{{ locale['architecture'] }}</div>
                  <div class="col-4">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-8">{{ locale['scalable_dev'] }}</div>
                  <div class="col-4">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-8">{{ locale['aws'] }}</div>
                  <div class="col-4">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-8">{{ locale['frontend'] }}</div>
                  <div class="col-4">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-8">{{ locale['web_design'] }}</div>
                  <div class="col-4">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col card link" routerLink="/experience">
        <div class="row justify-content-center card-body">
          <div class="col-10 topic card-title">{{ locale['experience'] }}</div>
          <div class="col-10 card-text">
            <ul class="experience-list">
              <li>
                <div class="row">
                  <div class="col-5">Aug 2023 - {{ locale['present'] }}</div>
                  <div class="col">Immosolve GmbH</div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-5">Nov 2019 - Apr 2021</div>
                  <div class="col">Amazon Ltd.</div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-5">Nov 2018 - Oct 2019</div>
                  <div class="col">PayTM</div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-5">Apr 2017 - Feb 2018</div>
                  <div class="col">Lava Mobiles</div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-5">Apr 2014 - Apr 2017</div>
                  <div class="col">InfoEdge</div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-5">Oct 2013 - Mar 2014</div>
                  <div class="col">Works Applications</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row vertical-space"></div>
<div class="row justify-content-center">
  <div class="col-11">
    <div class="row justify-content-center">
      <div class="col card">
        <div class="row justify-content-center card-body">
          <div class="col-10 topic card-title">{{ locale['education'] }}</div>
          <div class="w-100"></div>
          <div class="col-10 card-text">
            <ul class="skill-list">
              <li>B.Tech. Computer Science - IIIT Delhi</li>
              <li>Highschool - DPS R.K.Puram</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col card">
        <div class="row justify-content-center card-body">
          <div class="col-10 topic card-title">
            {{ locale['certifications'] }}
          </div>
          <div class="w-100"></div>
          <div class="col-10 card-text">
            <ul class="experience-list">
              <li>Angular (Udemy)</li>
              <li>{{ locale['german'] }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row vertical-space"></div>
<div class="row justify-content-center">
  <div class="col-11">
    <div class="row justify-content-center">
      <div class="col card">
        <div class="row justify-content-center card-body">
          <div class="col-10 topic card-title">{{ locale['awards'] }}</div>
          <div class="w-100"></div>
          <div class="col-10 card-text">
            <ul class="skill-list">
              <li>Rockstar Award - PayTM</li>
              <li>Magic Maker, Code Efficiency - InfoEdge</li>
              <li>Magic Maker, Work Ethic - InfoEdge</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col card">
        <div class="row justify-content-center card-body">
          <div class="col-10 topic card-title">{{ locale['hobbies'] }}</div>
          <div class="w-100"></div>
          <div class="col-10 card-text">
            <ul class="experience-list">
              <li>{{ locale['hobby1'] }}</li>
              <li>{{ locale['hobby2'] }}</li>
              <li>{{ locale['hobby3'] }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
